body{
    border:0;
    font-family: cursive;
    background-color: beige;
}
header{
    background-color:  rgb(3, 8, 90);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}
nav a{
    color: white;
    margin: 0px 20px;
    text-decoration: none;
    font-size: larger;
}
footer{
    background-color: rgb(3, 8, 90);
    color: white;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.middle{
    background-color: beige;
    color: rgb(3, 8, 90);
    text-align: center;
    padding: 20px;
}
.highlights{
    background: rgb(3, 8, 90);
    padding: 40px;
    margin: 60px auto;
    width:80%;
    text-align:center; 
    border-radius: 12px;
}
.btn{
 display: inline-block;
 background-color: black;
 color: white;
 border-radius: 5px;
 text-decoration: none;
 padding: 10px;
 font-size: 20px;
 margin-top: 30px;

}
.highlights h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.highlights ul{
    list-style: none;
}.highlights ul li {
    font-size: 18px;
    padding:8px;

}
#user-display{
    position:absolute;
       right: 20px;
       top: 20px;
       font-weight: bold;
}


