* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkturquoise;
    font-family: cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #080808;
    padding: 20px 50px;
    color: #fff;
}
header h1 {
    font-size: 26px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    color: #ff4081;
}

/* Page Content */
.page {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    gap: 30px;
}

.card {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.price {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

/* Button */
button {
    background: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #e91e63;
}
footer{
    background-color: black;
    color: white;
    padding: 10px 100px;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}