body {
    border: 0;
    font-family: cursive;
    background-color: darkturquoise;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: black;
    color: white;
    padding: 1px 10px;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-box {
    width: 400px;
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #888;
    border-radius: 5px;
}

.login-box input[type="submit"],
.login-box input[type="reset"] {
    width: 45%;
    padding: 10px;
    margin: 10px 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}
.login-box input[type="submit"]:hover,
.login-box input[type="reset"]:hover {
    background-color: darkslategray;
}



